.CateogryListView
{
	position: relative;
	line-height: 50px;
}

.CateogryListView > ul
{
	
}

.CateogryListView > ul > li
{
	display: inline-block;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 2px;
	margin-right: 18px;
}