html, body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body
{
	background: url(../images/bg.png);
}

body > #header
{
	position: fixed;
	z-index: 99;
	background: rgba(0, 0, 0, 0.88) url(../images/logo.png) no-repeat;
	background-position: 12px center;
	top: 0;
	width: 100%;
	height: 50px;
}

body > #overlay
{
	position: fixed;
	z-index: 999;
	background: rgba(0, 0, 0, 0.8);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}